/*-----------Main-classes--------------*/
* {
    margin: 0;
    padding: 0;
}

/*----------Navigation-top------*/
body {
    display: grid;
    grid-template-columns: 42px auto 42px;
}

.container{
    background-color: rgb(68, 96, 173);
    position: absolute;
    top:42px;
    left: 0;
    right: 0;
    bottom: 42px;
    z-index: -1;
      
}

.nav-top{
    background-color: aqua;
    position: fixed;
    top:0;
    left: 0;
    height: 36px;
    width: 100%;
    padding: 4px 15px;
    border: 2px;
}
.article{
    background-color: pink;
}
.recomendations{
    background-color: blueviolet;
}

.rubrics {
    background-color: burlywood;
}

footer {
    background-color: crimson;
}

.nav-bottom{
    background-color: aqua;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 36px;
    width: 100%;
    padding: 4px 15px;
}

