/*-----------Main-classes--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-rows: 36px auto auto 477px 36px;
}

/*-----body's-direct-chlidren------------*/

.nav-top{
    /*position-in-the-body-grid*/
    grid-row-start: 1;
    grid-row-end: 2;
    /*styling-inside-nav-top*/
    background-color: white;
    position: fixed;
    top:0;
    left: 0;
    height: 36px;
    width: 100%;
    padding: 4px 15px;
    /*flex-iside-nav-top*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(226, 226, 226);
    color: rgb(51,51,51);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.story-container {
    /*position-in-the-body-grid*/
    grid-row-start: 2;
    grid-row-end: 3;
    /*styling-inside-container*/
    background-color: white;
    height: fit-content;
    display: grid;
    align-items: center;
}

.footer-rubrics {
    /*position-in-the-body-grid*/
    grid-row-start: 4;
    grid-row-end: 5;
    /*styling-inside-container*/
    background-color: white;
    /*inside-footer-grid*/
    display: grid;
    grid-template-columns: 1fr auto 1fr ;
}

.nav-bottom {
    /*position-in-the-body-grid*/
    grid-row-start: 5;
    grid-row-end: 6;
    /*inside-nav-bottom-styling*/
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 36px;
    width: 100%;
    padding: 4px 15px;
    /*inside-nav-bottom-grid*/
    display: grid;
    grid-template-columns: 1fr auto 1fr ;
    border-top: 1px solid black;
}

/*-----------------Navigation-top-children------------*/

.nav-logo {
 height: 100%;
}

.nav-logo img{
    height:100%;
}

.nav-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    width: fit-content;
}

.nav-icons > button {
    margin-right: 9px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    padding:8px;
    background-color: rgb(255, 255, 255);
    border: none;
}

.nav-icons > button > i {
    width: 16px;
    height: 18px;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    text-size-adjust: 100%;
    text-align: center;
}

.nav-icons > p {
    margin-left: 15px;
    color: rgb(0,0,0);
    font-size: 14px;
    font-style: normal;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 19px;
    text-size-adjust: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration-line: none;
    text-decoration-style: solid;
    vertical-align: baseline;
}

.nav-btn {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-btn > button {
    margin-right: 9px;
    padding: 8px 9px;
    width: fit-content;
    height: 33px;
    align-items: flex-end;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    color: white;
    font-style: normal;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.55px;
    line-height: 11px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 8px 11px;
}

/*----------The-story-container-----------*/

/*main-title*/

.main-title {
    width: 24.521vw;
    height: 10.7986vh;
    margin-bottom: 0.8vh;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.main-title > span {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 500;
    font-family:  nyt-cheltenham,georgia,'times new roman',times,serif;
}

/*main-img*/

.main-img {
    width: 70vw;
    height: fit-content;
    margin-bottom: 1.56rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.main-img > a > img {
    width: 70vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.main-img > p {
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(102,102,102);
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-weight: 400;
}

.main-img > p > span {
    color: rgb(136,136,136) !important;
    font-size: 0.9rem !important;
}

/*article-header*/

.article-header {
    width: 35.21vw;
    height: fit-content;
    margin-bottom: 2.25vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.author {
    color: rgb(51,51,51);
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 1.687vh;
}
.author > a {
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color: rgb(204,204,204);
    text-decoration-style: solid;
    cursor: pointer;
    color: rgb(51,51,51);
}

.date-socialmedia{
 height: 3.937vh;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
}

.date {
    font-size: 0.8125rem;
    font-family:nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 500;
    color: rgb(153,153,153);
}

.socialmedia-toolbar {
    display: flex;
    width: fit-content;
    height: fit-content;
    list-style: none;
    align-items: center;
}

.head-icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1rem;
    text-decoration: none;
    align-content: center;
    
}

.circle {
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
}

.head-icon > a > i {
    font-size: 1.3rem;
    color: black;
    font-weight: 400;
}

.story {
    width: 35.21vw;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.story > p {
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.875rem;
    color: rgb(51,51,51);
    margin-bottom: 0.9375rem;
}
/*unlock-free-articles*/

.unlock-free-articles {
    margin-right: auto;
    margin-left: auto;
    width: 35.21vw;
    margin-top: 2.812vh;
    margin-bottom: 2.812vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.7rem;
}
.unlock-free-articles > a {
    text-decoration: none;
    color: rgb(50, 104, 145);
 }

 .empty-border {
     width: 4.2253vw;
     border-bottom-color: rgb(204, 204, 204);
     border-bottom-width: 1px;
     height: 0;
     border-bottom-style:solid;
 }

 .at-top {
    margin-bottom: 1.1875rem;
 }

 .at-bottom {
    margin-top: 1.1875rem;
 }
/*aside-edit-picks*/

.aside-edit-picks {
    width: 12vw;
    height: 36vh;
    float: right !important;
    align-self: right !important;
    display: grid;
    grid-template-rows: 3.03712vh 1fr 1fr 1fr;
}
.aside-edit-picks > p {
    color: rgb(0,0,0);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 0.875rem;
    padding-bottom: 1rem;
    border-bottom:rgb(226, 226, 226) solid 1px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.picks {
    text-decoration: none;
    margin-top: 0.625rem;
}

.picks > img {
    width: 5rem;
    height: 5rem;
    float: left;
    margin-right: 0.625rem;
}

.picks > p {
    color:rgb(51, 51, 51);
    font-size: 0.875rem;
    font-weight: 500;
    font-family: nyt-cheltenham-small, georgia, "times new roman";
    line-height: 1.0625rem;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}


/*image-text-inflation*/

.image-text-inflation {
    margin-right: auto;
    margin-left: auto;
    width:  59.886vw;
    height: fit-content;
}
.image-text-inflation > p {
    font-size: 0.8rem;
    font-style: normal;
    color: rgb(102,102,102);
    line-height: 1.2rem;
}
.image-text-inflation > h3 {
    font-size: 1.25rem;
    font-style: normal;
    color: black;
    line-height: 1.5rem;
}

.img-inflation-container {
    overflow: hidden;
    width: 59.886vw;
    height: 64.79vh;
    background-image: url(https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png);
    background-repeat: no-repeat;
    background-size: 59.886vw 64.79vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.img-inflation-container > p {
    display: block;
    font-size: 0.81rem;
    line-height: 1.0625rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 14.448vw;
    float: left;
    margin-top: 16.19vh;
    margin-right: 0.4rem;
}

.img-inflation-container > p > span {
    float: left;
    display: block;
    text-transform: uppercase;
    font-size: 0.68rem;
    font-weight: bold;
}
/*video*/

.video {
    margin-right: auto;
    margin-left: auto;
    width: 35.21vw;
    height: fit-content;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.video > iframe {
    width: 35.21vw;
    height: 40.27vh;
}

.video > p {
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(102,102,102);
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-weight: 400;  
}
.video> p > span {
    color: rgb(136,136,136) !important;
    font-size: 0.9rem !important;
}

/*img-story*/

.image-story {
    width: 70vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.image-story > a > img {
    max-width: 70vw;
    max-height: 54.1373264vh;
    margin-right: auto;
    margin-left: auto;
}

.image-story > p {
    max-width: 48vw;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(102,102,102);
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-weight: 400;
}

.image-story > p > span {
    color: rgb(136,136,136) !important;
    font-size: 0.9rem !important;
}


/*-----------recomendations-children----------*/

.recomendations{
    width:70vw;
    height:auto;
    /*position-in-the-body-grid*/
    grid-row-start: 3;
    grid-row-end: 4;
     /*styling-inside-recomendation*/
    display:grid;
    grid-template-columns: 70% auto;
    grid-template-rows: auto auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.thumbnail{
    /* grid-row-start: 1;
    grid-row-end: 2; */
    /* grid-column-start: 1;
    grid-column-end: 2; */
    /* background-color: darkgoldenrod; */

    display: flex;
    flex-direction: column;
    border-top:1px solid black;

    /* display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto; */  
}

.recomendations-header{
    padding: 17px 0 0;
    font-weight:bold;
    font-size:17px;
}

.recomendations-header a {
    text-decoration: none;
    color: #000000;
}
.recomendations-header a:hover{
    text-decoration: underline;
}

.thumbnail-main{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto; */
    padding: 15px 0 0;
    grid-gap:1vw;
}

.popular {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    /* background-color: darkgray; */

    display: flex;
    flex-direction: column;
    border-top:1px solid black;
    margin-left:30px;
    padding-left:15px;
}
.popular-main{
    padding: 15px 0 0;    
}
.popular-articles{
    padding: 15px 0;
}
.popular-articles a{
    color: rgb(18, 18, 18);
    text-decoration: none;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size:1.125rem;
    font-weight:500;
    line-height: 1.375rem;
}

.popular-articles a:hover{
    color: #999999;
}
.edit-picks{
    /* grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-column-start: 1;
    grid-column-end: 2; */
    /* background-color: darksalmon; */

    display:flex;
    flex-direction: column;
    border-top:1px solid black;

    /* display:grid;
    grid-template-columns: auto auto auto; */
}

.img-thumbnail{    
    width: 15.6vw;
    /* height: 310px; */
    padding-bottom: 15px;
    
}
.img-thumbnail a{
    text-decoration: none;
    color: black;
}

.img-thumbnail a:hover{
    color: #999999;
}

.img-thumbnail img{
    width:100%;
    height:10vw;
    
}
.img-thumbnail figcaption{
    font-size:10px;
    color: #999999;
    justify-content: flex-end;
    text-align: right;

}
.img-thumbnail span{
    font-size:10px;
    color: #999999;
    justify-content: flex-start;
    text-align: left;
}

.popular-articles{
    border-top: 1px solid #ebebeb;
    text-decoration: capitalize;
    font-size: 1.125em;
    font-weight: 500;
    color: rgb(18, 18, 18);
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    line-height: 1.375rem;
   
}

/*----------The-Footer-Rubrics-----------------------------*/

.footer-container {
    background-color: transparent;
    grid-column-start: 2;
    grid-column-end: 3;
    /*second-grid-embeded*/
    display: grid;
    grid-template-rows: 44px auto 66px ;
    border-top: 2px double #e2e2e2;
    padding-top: 5px;
}

.rubrics-logo {
    background-color: transparent;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.rubrics-go-home {
    color: rgb(86, 123, 149);
    font-size: 11px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 400;
    text-decoration: solid;
    font-style: normal;
    padding: 11px 10px;
    
    
}

.rubrics-go-home > a {
    text-decoration: none;
}

.nyt-logo-footer {
    height: 44px;
    width: 188px;
}

.nyt-logo-footer > a {
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   display: block;
   position: relative;
   overflow: hidden;

}

.nyt-logo-footer > a > img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    }

.footer-container > footer {
    background-color: white;
    grid-row-start: 3;
    grid-row-end: 4;
    /* margin-top: 1px solid black; */
}

/*rubrics-container*/
.rubrics-container {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    display: flex;
    flex-direction: row;
    min-width: 1100px;
    max-width: 1200px;
    height: 350px;
    margin-top: 10px;
    align-content: space-between;
    justify-content: space-between;
}
.rubrics-container p {
    color:#333;
    font-size:13px;
    font-weight:700;
    font-family:nyt-franklin, helvetica, arial, sans-serif;
    text-transform: uppercase;
    height:25px;
    line-height:15px;
    margin:0;
}
.subscribe li a{
    display: flex;
    align-items: center;         
}
.subscribe li a span {
    margin-left: 5px;
    font-weight:bold; 
}
.material-icons.md-24{
    font-size: 16px;
    text-decoration: none;
}
.material-icons.md-24:hover{
    text-decoration:none;
}

.rb-footer ul {
    border-top: 1px solid #ebebeb;
    margin-top: 10px;    
    text-align: center;
}

.rb-footer ul li{
    display: inline-block;
    margin-top:15px;
    margin-right:20px;
    text-align:left;
    list-style:none;
    
    
}

.rb-footer ul li a{
    font-size:9px;
    text-align:center;
    color:#333;
}

.newsletters {
    font-size:11px !important;
    line-height:21px !important;
}

ul li{
    list-style: none;
    margin-top:5px;
    text-align: left;    
}
ul >li >a{
    text-decoration:none;
    color:#000;
    font-family: nyt-franklin, helvetica, arial, sans-serif; 
    display: inline-block;
    font-size:14px;
    font-weight:500;
    height:23px;
    line-height:16px;
    text-transform: capitalize;
    vertical-align: baseline;

}
ul li a:hover{
    text-decoration:underline;
    cursor: pointer;
}
.rubrics-side-bar{
    border-left: 1px solid #e2e2e2;
    padding-left: 15px;
}

/*-----------Navigation-bar-at-the-bottom----------*/

.nav-bottom > p {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    color: rgb(0,0,0);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
}

.nav-bottom > button {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    border: none;
    background-color: white;
    align-self: center;
}

.nav-bottom > button > span {
    color: rgb(0,0,0);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    margin-right: 15px;

}